.countryList {
    width: 30%;
    height: 550px;
    float: left;
    border: 1px solid black;
    overflow-y: scroll;
    padding: 10px;
    margin: 10px;
}
.details{
    border: 1px solid black;
    height: 550px;
    width: 60%;
    float: right;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.name{
    width: 400px;
}
.flag{
    width: 200px;
    height: auto;
    display: block;
}
.borders{
    width: 300px;

}